@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-size: 16px;
  /* color: #4d2549; */
  margin: 0;
  padding: 0;
}
body {
  background-color: #fdfdfd;
  color: #4d2549;
}
button {
  /* padding: 8px 40px; */
  transition: all 0.3s linear;
}
.bg-gradient-1 {
  background-color: white;
  background: linear-gradient(
    240deg,
    rgba(251, 243, 243, 0.5) 26%,
    rgba(248, 230, 246, 0.5) 88%
  );
}
.bg-gradient-2 {
  background: linear-gradient(
    200deg,
    rgba(251, 243, 243, 0.5) 10%,
    rgba(248, 230, 246, 0.5) 100%
  );
}
.bg-gradient-3 {
  background: linear-gradient(
    43deg,
    rgba(240, 206, 237, 0.5) 0%,
    rgba(251, 243, 245, 0.5) 37%
  );
}

.bg-gradient-button {
  border-radius: 6px;
  background: linear-gradient(
    225deg,
    rgba(232, 186, 181, 1) 0%,
    rgba(225, 157, 219, 1) 100%
  );
}
.bg-gradient-button:hover {
  transition: all 0.3s linear;
  background: linear-gradient(
    225deg,
    rgba(232, 186, 181, 0.8) 0%,
    rgba(225, 157, 219, 0.8) 100%
  );
}
.bg-gradient-button:active {
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    225deg,
    rgba(232, 186, 181, 0.8) 0%,
    rgba(225, 157, 219, 0.8) 100%
  );
}
.grids {
  display: grid;
  grid-template-columns: 247px 202px 206px 161px 225px;
  grid-template-rows: auto 125px auto;
  gap: 12px;
  grid-template-areas:
    "grid1 grid3 grid3 grid4 grid4"
    "grid5 grid6 grid6 grid7 grid8"
    "grid5 grid9 grid9 grid10 grid8";
  position: relative;
}
.grid1 {
  grid-area: grid1;
  background-image: url(./assets/homePage/hero-sunglass5.jpeg);

  padding: 44px 22px;
  gap: 12px;
  border-radius: 18px;
  height: auto;
  background-size: auto 100%;
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
}

.grid2 {
  grid-area: grid2;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-image: url(./assets/homePage/hero-sunglass5.jpeg);
  background-size: auto 100%;
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
}

.grid3 {
  grid-area: grid3;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 40px 40px;
  height: 251px;
  width: auto;
  gap: 12px;
  border-radius: 18px;
}
.grid4 {
  grid-area: grid4;
  border-radius: 18px;
  width: 394px;
  background-image: url(./assets/homePage/hero-sunglass.png);
  background-size: 100% 100%;
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
}
.grid5 {
  grid-area: grid5;
  border-radius: 18px;
  background-image: url(./assets/homePage/hero-sunglass3.jpeg);
  background-size: auto 100%;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}
.grid6 {
  grid-area: grid6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 125px; */
  /* width: 206px; */
  border-radius: 18px;
}

.grid7 {
  grid-area: grid7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 183.5px;
  width: 161px;
  border-radius: 18px;
}
.grid8 {
  grid-area: grid8;
  border-radius: 18px;
  width: 225px;
  /* background-image: url(./assets/homePage/hero-sunglass4.jpeg); */
  background-size: 100% 100%;
  background-position: right;
  object-fit: cover;
  padding: 40px 24px;
  background-repeat: no-repeat;
}
.grid9 {
  grid-area: grid9;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  /* height: 251px; */
  /* width: 419px; */
  padding: 40px 40px;
  border-radius: 18px;
}
.grid10 {
  grid-area: grid10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192.5px;
  width: 161px;
  bottom: 0;
  border-radius: 18px;
}

@media only screen and (max-width: 640px) {
  .grids {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "grid3 grid3 "
      "grid4 grid4 "
      "grid9 grid9 "
      "grid8 grid8"
      "grid6 grid6";
  }
  .grid1,
  .grid2,
  .grid5,
  .grid7,
  .grid10 {
    display: none;
  }
  .grid8 {
    width: auto;
  }
  .grid3 {
    grid-area: grid3;
    padding: 24px 16px;
    height: 150px;
    width: auto;
  }
  .grid9,
  .grid8 {
    padding: 24px 16px;
  }
  .grid4 {
    grid-area: grid4;

    width: 394px;
    height: 250px;
  }

  .grid6 {
    grid-area: grid6;
    height: 125px;
    width: auto;
  }

  .grid9 {
    grid-area: grid9;
  }
}
@media only screen and (min-width: 645px) and (max-width: 980px) {
  .grids {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      " grid3 grid3 grid6 grid6"
      " grid4 grid4 grid8 grid8"
      " grid9 grid9 grid9 grid9";
  }
  .grid1,
  .grid2,
  .grid5,
  .grid10,
  .grid7 {
    display: none;
  }
  .grid4 {
    width: 100%;
    height: 100%;
  }
  .grid6 {
    width: auto;
    height: auto;
  }
  .grid8 {
    width: 100%;
  }
  .grid10 {
    height: 100%;
  }
}
